
.assentos {
    padding-top: 185px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.assento {
    margin-right: 7px;
    color: #000000;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;

}

.legenda {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.legenda > div {
  display: inline-flexbox;
  justify-items: center;
}

.selecionado {
    margin-left: 25px;
    color: #8DD7CF;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
    border-radius: 12px;
}

.disponivel {
    margin-left: 20px;
    color: #C3CFD9;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
    border-radius: 12px;
}

.indisponivel {
    margin-left: 25px;
    color: #FBE192;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #FBE192;
    border: 1px solid #F7C52B;
    border-radius: 12px;
}

